@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0%;
  }
  1% {
    visibility: visible;
    opacity: 1%;
    height: 1%;
  }
  100% {
    visibility: visible;
    height: 100vh;
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    height: 100vh;
    opacity: 100%;
  }

  99% {
    visibility: visible;
    height: 1vh;
    opacity: 1%;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    height: 0%;
  }
}
