nav {
    background-color: $white;
    color: $darkerGreen;
    padding: 0px;
    width: 100%;
    margin: 0px;
    position: sticky; //I am not sure about using this ************
    top:0px;
    z-index: 10;

    ul {
        margin: 0px;
        padding: 20px;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-end;
        gap: 20px;
        box-shadow: rgba(27, 31, 35, 0.6) 0px 2px 0px, rgba(255, 255, 255, 0.4) 0px 2px 0px inset;

        li {
            text-decoration: none;

        }

        
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 19px;
        border-bottom: 3px solid $white;
        height: 100%;
        color: $black;
        font-weight: 900;
        font-size: 1rem;
    }

    a:hover {
        border-bottom: 3px solid $darkerGreen;
        color: $darkerGreen;
    }

    .link {
        text-decoration: none;
        display: inline-block;
        padding: 19px;
        border-bottom: 3px solid $white;
        height: 100%;
        color: $black;
        font-weight: 900;
        font-size: 1rem;

    }
    .link:hover {
        cursor: pointer;
        border-bottom: 3px solid $darkerGreen;
        color: $darkerGreen;

    }
}

