.mobile-open {
  @include break-down("medium") {
    min-height: 100vh;
  }
}

.mobile-hidden {
  @include break-down("medium") {
    display: none;
  }
}

a {
  text-decoration: none;
  color: $darkerGreen;
}

nav {
  height: 6rem;
  width: 100%;
  background-color: $white;
  border-bottom: 5px solid $darkerGreen;

  @include break-down("medium") {
    border: 0;
    height: 100%;
  }

  ul {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @include break-down("medium") {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .link {
    text-decoration: none;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    transition: all ease-in-out 250ms;
    font-weight: 800;
    cursor: pointer;

    @include break-down("medium") {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 0px;
      width: 50%;
      padding-left: 10px;
      height: 50px;
    }

    &:hover {
      border-bottom: 10px solid $darkerGreen;

      @include break-down("medium") {
        border-bottom: 0px;
        border-left: 10px solid $darkerGreen;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .profile-img-name-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  /*
    ####################################
    ###### HAMBURGER MENU ##############
    ####################################
    */

  .hamburger-menu {
    display: none;

    @include break-down("medium") {
      display: inline-block;
      align-self: flex-end;
      cursor: pointer;
      justify-self: flex-end;

      padding: 5px;
    }

    span {
      width: 35px;
      height: 5px;
      background-color: $darkerGreen;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
      display: block;
      border-radius: 5px;
    }
  }
  .hamburger-menu-change {
    display: none;

    @include break-down("medium") {
      display: inline-block;
      cursor: pointer;
      align-self: flex-end;
      justify-self: flex-end;

      padding: 5px;
    }

    .hamburger-top-line {
      width: 35px;
      height: 5px;
      background-color: $darkerGreen;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
      display: block;
      border-radius: 5px;

      transform: translate(0, 11px) rotate(-45deg);
    }
    .hamburger-middle-line {
      width: 35px;
      height: 5px;
      background-color: $darkerGreen;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
      display: block;

      opacity: 0;
    }
    .hamburger-bottom-line {
      width: 35px;
      height: 5px;
      background-color: $darkerGreen;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;
      display: block;
      border-radius: 5px;

      transform: translate(0, -11px) rotate(45deg);
    }
  }
}

.profile-menu {
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 95px;
  right: 0px;
  background-color: $white;
  z-index: 1000;
  text-decoration: none;
  width: 300px;
  background-color: $darkerGreen;
  color: $white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  @include break-down("medium") {
    position: absolute;
    height: 100%;
    top: 0;
    width: 50%;
    border: 0;
    border-radius: 0;
  }

  a {
    color: $white;
  }

  li {
    height: 50px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 100%;

    &:hover {
      border-bottom: 5px solid $white;
    }
  }
}

.onPath {
  border-bottom: 10px solid $darkerGreen;

  @include break-down("medium") {
    border-bottom: 0px;
    border-left: 10px solid $darkerGreen;
  }
}
