// .profile is the same as food_restaurant

.profile h2 {
    color: $darkerGreen;

}


.user-data-container {
    padding: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: 
    "profile-pic  profile-first-name "
    "profile-pic  profile-last-name"
    "profile-username   profile-email";

    .profile-pic{
        grid-area: profile-pic;
    }
    .profile-username{
        grid-area: profile-username;
    }
    .profile-first-name{
        grid-area: profile-first-name;
    }
    .profile-last-name{
        grid-area: profile-last-name;
    }
    .profile-email{
        grid-area: profile-email;
    }
    .profile-data {
        display: grid;
      grid-template-columns: 1fr 1fr;

    }
   

    img {
        width: 100px;
        height: 100px;
        border: 2px solid $darkerGreen;
        border-radius: 100%;
        margin: 2px;
        object-fit: cover;

    }
}

.delete-profile-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-button {
   align-self: center;
   justify-self: center;
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin:0;
    text-align: justify;

    img {
        height: 200px;
        width: 200px;
    }

    &:hover {
        background-color: $warning;
        border-radius: 10px;
        border: 1px solid $darkerGreen
    }
}



/* ###################################
#######################################
           ADMIN MANAGE USERS
#######################################
#######################################

*/

.fetched-user-container, .fetched-report-container {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid $darkerGreen;
  
   padding: 5px;
   

   &:hover {
    background-color: $lighterGreen;
   }
  


   .main-detail-holder,.report-container{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
    

    a {
        color: $darkerGreen;
        text-decoration: none;
        font-weight: 500;
        transition: all ease-in-out 250ms;
    
        &:hover {
            text-decoration: underline;
            transition: all ease-in-out 250ms;
        }
    
    }



    .button-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        
     .button {
        cursor: pointer;
    }
    }
   }

   .detail-container {
    background-color: $lightestGreen;
    padding: 10px;
   }

   .admin-manage {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;

   }




   fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid $darkerGreen;
    width: 80%;
    
  
  

    input {
        margin: 0;

    }
    .input-label-matcher{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
   
   }

    
}

.fetched-report-container-header {
    background-color: $darkerGreen;
    color: $white;

    &:hover {
        background-color: $darkerGreen;
    }
    
}


.more-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    margin:0;

    img {
        height: 20px;
        width: 20px;
    }
      
}

.fieldset-modified {
    width: 50%;
    align-self: center;
}

.button-modified {
    width: 50%;
    align-self: center;
}

.form-modified {
    padding: 10px;
}




