
$backgcolor: beige;
//$darkerGreen: hsl(60, 56%, 11%);
$darkerGreen: hsl(172, 43%, 14%);


$black: black;
$warning: red;
$white: white;

$lighterGreen: hsl(172, 22%, 75%);
$lighterabitGreen: hsl(172,22%, 85%);
$lightestGreen: hsl(172, 22%, 95%);
